/* grid set up */
.consonant {
    max-width: 98%;
    justify-content: center;
    display: grid;
    text-align: center;
    grid-template-columns: min-content repeat(8, 1fr);
    grid-template-rows:fit-content min-content min-content repeat(6, 1fr);
    grid-template-areas:
        "header header header header header header header header back"
        "hsub hsub hsub hsub hsub hsub hsub hsub hsub"
        "sidesub . h1 h2 h3 h4 h5 h6 h7"
        "sidesub sh1 s1 s2 s3 s4 s5 s6 s7"
        "sidesub sh2 n1 n2 n3 n4 n5 n6 n7"
        "sidesub sh3 f1 f2 f3 f4 f5 f6 f7"
        "sidesub sh4 a1 a2 a3 a4 a5 a6 a7"
        "sidesub sh5 g1 g2 g3 g4 g5 g6 g7"
        "sidesub sh6 l1 l2 l3 l4 l5 l6 .";
    gap: .5vw;
}

/* headers */
h2.consonant-header {
    grid-area: header;
    font-size: 5vw;
    margin: 0;
}

h3.horizontal {
    grid-area: hsub;
    font-size: 1.5vw;
    margin: 0;
}

h3.vertical {
    grid-area: sidesub;
    writing-mode:vertical-rl;
    transform: rotate(180deg);
    font-size: 1.5vw;
    justify-self: end;
    align-self: center;
}

/* chart labels */
.h1 {
    grid-area: h1;
    font-size: 1vw;
    justify-self: center;
    align-self: end;
    margin: 0;
}

.h2 {
    grid-area: h2;
    font-size: 1vw;
    justify-self: center;
    align-self: end;
    margin: 0;
}

.h3 {
    grid-area: h3;
    font-size: 1vw;
    justify-self: center;
    align-self: end;
    margin: 0;
}
.h4 {
    grid-area: h4;
    font-size: 1vw;
    justify-self: center;
    align-self: end;
    margin: 0;
}
.h5 {
    grid-area: h5;
    font-size: 1vw;
    justify-self: center;
    align-self: end;
    margin: 0;
}
.h6 {
    grid-area: h6;
    font-size: 1vw;
    justify-self: center;
    align-self: end;
    margin: 0;
}
.h7 {
    grid-area: h7;
    font-size: 1vw;
    justify-self: center;
    align-self: end;
    margin: 0;
}

.sh1 {
    grid-area: sh1;
    font-size: 1vw;
    justify-self: center;
    align-self: end;
    margin: 0;
}
.sh2 {
    grid-area: sh2;
    font-size: 1vw;
    justify-self: center;
    align-self: end;
    margin: 0;
}
.sh3 {
    grid-area: sh3;
    font-size: 1vw;
    justify-self: center;
    align-self: end;
    margin: 0;
}
.sh4 {
    grid-area: sh4;
    font-size: 1vw;
    justify-self: center;
    align-self: end;
    margin: 0;
}
.sh5 {
    grid-area: sh5;
    font-size: 1vw;
    justify-self: center;
    align-self: end;
    margin: 0;
}
.sh6 {
    grid-area: sh6;
    font-size: 1vw;
    justify-self: center;
    align-self: end;
    margin: 0;
}

.subheader {
    font-size:1vw;
}

/* placing cards */

#s1 {
    grid-area: s1;
    place-self: center;
}

#s4 {
    grid-area: s4;
    place-self: center;
}

#s6 {
    grid-area: s6;
    place-self: center;
}

#n1 {
    grid-area: n1;
    place-self: center;
}

#n4 {
    grid-area: n4;
    place-self: center;
}

#n6 {
    grid-area: n6;
    place-self: center;
}

#f2 {
    grid-area: f2;
    place-self: center;
}

#f3 {
    grid-area: f3;
    place-self: center;
}

#f4 {
    grid-area: f4;
    place-self: center;
}

#f5 {
    grid-area: f5;
    place-self: center;
}

#f7 {
    grid-area: f7;
    place-self: center;
}

#a5 {
    grid-area: a5;
    place-self: center;
}

#g1 {
    grid-area: g1;
    place-self: center;
}

#g5 {
    grid-area: g5;
    place-self: center;
}

#l4 {
    grid-area: l4;
    place-self: center;
}

#l5 {
    grid-area: l5;
    place-self: center;
}

/* back button */
.back {
    grid-area: back;
    align-self: end;
    justify-self: center;
}

/* mini card styling */

.consonant-mini {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(15, 41, 63);
    max-width: 98%;
    max-height: 98%;
    padding: 1%;
    gap: 0px;
    object-fit: scale-down;
}

.consonant-mini img {
    place-self: center;
    max-width: 90%;
    border: .2em white solid;
    margin: 2px;
}

.consonant-mini p {
    color: white;
    font-size: 1vw;
    margin: 1px;
}