body {
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Delius', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home {
  text-align: center;
}

.home h1{
  font-size: 5em;
  margin: 10% auto 0 auto;
}

.home a {
  display: inline-block;
  text-align: center;
  font-size: 2em;
  background-color: lightseagreen;
  padding: .75em;
  margin: 2%;
  border: gray 2px solid;
}

